.game {
  width: 600px;
  height: 200px;
  border: 1px solid rgb(240, 112, 112);
  margin: auto;
}

#cart {
  width: 50px;
  height: 50px;
  background-image: url(img/icons8-christmas-256.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
  left: 30px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  15% {
    top: 140px;
  }
  30% {
    top: 130px;
  }
  40% {
    top: 100px;
  }
  50% {
    top: 60px;
  }
  65% {
    top: 100px;
  }
  80% {
    top: 130px;
  }
  90% {
    top: 140px;
  }
  100% {
    top: 150px;
  }
}

#cactus {
  width: 43px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 580px;
  /* background-image: url("img/icons8-christmas-tree.svg"); */
  background-size: 20px 40px;

  animation: block 1s infinite linear;
}
#cactus img {
  width: 40px;
  height: 38px;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}
